{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52
        }
      }
    ]
  ],
  "plugins": [
    "transform-node-env-inline"
  ],
  "env": {
    "production": {
      "presets": [
        "babili"
      ]
    }
  }
}
